body {
    margin: 0;
    padding: 0;
    background-color: #52526e;
}
.navbar {
    margin-bottom: 20px;
    background-color: black;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-right: 10px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.profile-box,
.form-box,
.additional-box {
    background-color: #252539;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.profile-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.form-box input,
.form-box button {
    margin-bottom: 10px;
}

.additional-box h2 {
    margin-top: 0;
}

.small-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.small-box {
    background-color: green;
    border: 3px solid black;
    padding: 10px;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.small-box h3 {
    margin: 0;
    color: white;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.icon-container i {
    color: white;
    font-size: 24px;
}

.backoffice-button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}